<!DOCTYPE html>
<html lang="en">
<head>
    <title>AIGarden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{% static 'js/table.js' %}"></script>
    <script>
      {{ gardenPlan.name }} = new LiveTable("{{ gardenPlan.name }}", "", "removeButton_1", {{ gardenPlan.inputFields|safe }});
      {{ plantSpecification.name }} = new LiveTable("{{ plantSpecification.name }}", "", "removeButton_2", {{ plantSpecification.inputFields|safe }});

      function form_save(e, url) {
        let values = {
          "new_{{ gardenPlan.name }}": {{ gardenPlan.name }}.getRows(),
          "del_{{ gardenPlan.name }}": {{ gardenPlan.name }}.delRows,
          "new_{{ plantSpecification.name }}": {{ plantSpecification.name }}.getRows(),
          "del_{{ plantSpecification.name }}": {{ plantSpecification.name }}.delRows
        };

        event.preventDefault();         // enable ajax
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(values),
            success: function () {
                console.log("POST is successful");
            
                // TODO(markub3327): refresh only tables
                window.location.reload();
            },
            error: function(errMsg) {
                console.log(errMsg.status);
            }
        });
      }
    </script>
</head>

  <body>
    <div class="container-fluid print-header">
      <img class="rounded" src="{% static 'img/logo.png' %}" alt="logo" width="64" height="48">
      <div class="print-divider"></div>
    </div>
  
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}"><img class="rounded" src="{% static 'img/home.png' %}" alt="Home" width="32" height="32"> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sensors' %}"><img class="rounded" src="{% static 'img/sensors.png' %}" alt="Sensors" width="32" height="32"> Sensors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'control' %}"><img class="rounded" src="{% static 'img/control.png' %}" alt="Control" width="32" height="32"> Control</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'plants' %}"><img class="rounded" src="{% static 'img/plant.png' %}" alt="Plants" width="32" height="32"> Plants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'settings' %}"><img class="rounded" src="{% static 'img/settings.png' %}" alt="Home" width="32" height="32"> Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about"><img class="rounded" src="{% static 'img/about.png' %}" alt="About" width="32" height="32"> About</a>
            </li>
          </ul>
        </div>
        <img class="rounded" src="{% static 'img/logo.png' %}" alt="logo" width="64" height="48">
      </div>
    </nav>  

    <div class="container-fluid mt-3">
      <form onsubmit="form_save(event, '{% url 'plants' %}')">
          <div class="mb-3">
            <div class="table-responsive">
                  <table class="table table-hover text-center caption-top" id="{{ gardenPlan.name }}">
                    <caption class="fw-bold">Garden Plan</caption>
                    <thead class="table-plant">
                      <tr>
                        {% for column in gardenPlan.thead %}
                          <th>{{ column|safe }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for key, row in gardenPlan.tbody.items %}
                        <tr data-id="{{ key|safe }}" onclick="{{ gardenPlan.name }}.click(event)">
                          {% for column in row %}
                            <td>{{ column|safe }}</td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>

            <button type="button" class="btn btn-success" onclick="{{ gardenPlan.name }}.addRow(event)">+</button>
            <button type="button" class="btn btn-danger disabled" id="removeButton_1" onclick="{{ gardenPlan.name }}.delRow()">-</button>
          </div>

          <div class="mb-3">
            <div class="table-responsive">
              <table class="table table-hover text-center caption-top" id="{{ plantSpecification.name }}">
                  <caption class="fw-bold">Plant Specification</caption>
                  <thead class="table-plant">
                    <tr>
                      {% for column in plantSpecification.thead %}
                        <th>{{ column|safe }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, row in plantSpecification.tbody.items %}
                      <tr data-id="{{ key|safe }}" onclick="{{ plantSpecification.name }}.click(event)">
                        {% for column in row %}
                          <td>{{ column|safe }}</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>

            <button type="button" class="btn btn-success" onclick="{{ plantSpecification.name }}.addRow(event)">+</button>
            <button type="button" class="btn btn-danger disabled" id="removeButton_2" onclick="{{ plantSpecification.name }}.delRow()">-</button>
          </div>
      
          <div class="text-center mb-5">
              <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </form>
    </div>

    <footer class="bg-dark text-center text-white" id="about">
      <div class="container p-4">
          <h5>Social media</h5>
          <section class="mb-4">
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/martin.kubovcik/" role="button">
                  <i class="fa fa-instagram"></i>
              </a>
              <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/markub3327/AIGarden" role="button">
                  <i class="fa fa-github"></i>
              </a>
          </section>
          <h5>About us</h5>
          <section class="mb-4">
            AIGarden 🚰🌱🥕🍅 is an open-source project that uses Raspberry Pi to automate your garden and simplified caring about your garden. 
            You can make watering autonomous and monitoring plants smarter.  
          </section>
      </div>
      <div class="text-center p-3 my-footer">
          © 2023 Copyright: Martin Kubovčík
      </div>
    </footer>
</body>
</html>
