<!DOCTYPE html>
<html lang="en">
<head>
  <title>AIGarden</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>  
  <script>
    var refreshInterval = "{{ refreshInterval|safe }}";
  </script> 
  <script src="{% static 'js/sensors.js' %}"></script>
</head>

<body>
  <div class="container-fluid print-header">
    <img class="rounded" src="{% static 'img/logo.png' %}" alt="logo" width="64" height="48">
    <div class="print-divider"></div>
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}"><img class="rounded" src="{% static 'img/home.png' %}" alt="Home" width="32" height="32"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'sensors' %}"><img class="rounded" src="{% static 'img/sensors.png' %}" alt="Sensors" width="32" height="32"> Sensors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'control' %}"><img class="rounded" src="{% static 'img/control.png' %}" alt="Control" width="32" height="32"> Control</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'plants' %}"><img class="rounded" src="{% static 'img/plant.png' %}" alt="Plants" width="32" height="32"> Plants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'settings' %}"><img class="rounded" src="{% static 'img/settings.png' %}" alt="Home" width="32" height="32"> Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about"><img class="rounded" src="{% static 'img/about.png' %}" alt="About" width="32" height="32"> About</a>
          </li>
        </ul>
      </div>
      <img class="rounded" src="{% static 'img/logo.png' %}" alt="logo" width="64" height="48">
    </div>
  </nav>

  <div class="container mt-3 mb-5">
    <div class="row mb-3">
      <div class="col">
        <canvas id="myChart_temp" class="canvas-chartjs"></canvas>
      </div>

      <div class="col">
        <canvas id="myChart_soil" class="canvas-chartjs"></canvas>
      </div>     
    </div>
    <div class="row mb-3">
      <div class="col"> 
        <canvas id="myChart_humid" class="canvas-chartjs"></canvas>
      </div>
      <div class="col">
        <canvas id="myChart_press" class="canvas-chartjs"></canvas>
      </div>
    </div>
    <div class="row mb-4">
      <table class="table table-bordered table-hover text-center">
        <thead class="table-sensor">
          <tr>
            <th>Sensor</th>
            <th>Value</th>
            <th>Range</th>
          </tr>
        </thead>
        <tbody id="table-sensor"></tbody>
      </table>
    </div>
  </div>

  <footer class="bg-dark text-center text-white" id="about">
    <div class="container p-4">
        <h5>Social media</h5>
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/martin.kubovcik/" role="button">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/markub3327/AIGarden" role="button">
                <i class="fa fa-github"></i>
            </a>
        </section>
        <h5>About us</h5>
        <section class="mb-4">
          AIGarden 🚰🌱🥕🍅 is an open-source project that uses Raspberry Pi to automate your garden and simplified caring about your garden. 
          You can make watering autonomous and monitoring plants smarter.
        </section>
    </div>
    <div class="text-center p-3 my-footer">
        © 2023 Copyright: Martin Kubovčík
    </div>
  </footer>
</body>
</html>
