###### OpenCV plus extra modules without GUI ######
#
opencv-contrib-python-headless
#
#
###### Django ######
#
Django
#
#
###### CircuitPython ######
#
adafruit-circuitpython-motor
adafruit-circuitpython-dht
#
#