<!DOCTYPE html>
<html lang="en">
<head>
    <title>AIGarden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="icon" type="image/svg" href="{% static 'logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{% static 'plants.js' %}"></script>
</head>
  
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <img src="{% static 'logo.svg' %}" alt="logo" width="30" height="24">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sensors' %}">Sensors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'control' %}">Control</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'plants' %}">Plants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'settings' %}">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-hover text-center">
                  <thead class="table-success">
                    <tr>
                      <th>Variety</th>
                      <th>Type</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody id="table-plants"></tbody>
                </table>
            </div>

            <div class="col-auto">
                <button type="button" class="btn btn-success" onclick="add_plant()">+</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-bordered table-hover text-center">
                  <thead class="table-success">
                    <tr>
                      <th>Type</th>
                      <th>Duration [minute]</th>
                      <th>Class</th>
                    </tr>
                  </thead>
                  <tbody id="table-desc"></tbody>
                </table>
            </div>

            <div class="col-auto">
                <button type="button" class="btn btn-success" onclick="add_desc()">+</button>
            </div>
        </div>
    </div>    

    <footer class="bg-dark text-center text-white fixed-bottom" id="about">
        <div class="container p-4">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/martin.kubovcik/" role="button">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/markub3327/AIGarden" role="button">
                    <i class="fa fa-github"></i>
                </a>
            </section>
            <section class="mb-4">
                AIGarden 🚰🌱🥕🍅 is an open-source project that uses Arduino and Raspberry Pi to automate your garden and simplified caring about your garden. 
                You can make watering autonomous & monitoring plants smarter.        
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright: Bc. Martin Kubovčík
        </div>
    </footer>
</body>
</html>