<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<title>AIGarden</title>

<body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

<img class="camera-bg" id="bg" class="center" src="{{ url_for('video') }}">   

<table>
  <thead>
    <tr>
      <th>Sensor</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody id="table-sensors"></tbody>
</table>

</body>
</html>