<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<title>AIGarden</title>

<body>

<img class="camera-bg" id="bg" class="center" src="{{ url_for('video') }}">   

<table>
  <tr>
    <th>Sensor</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Temp 0</td>
    <td>{{ url_for('sensors', sensor_id = "temp_0" }}</td> 
  </tr>
  <tr>
    <td>Temp 1</td>
    <td>{{ url_for('sensors', sensor_id = "temp_1" }}</td> 
  </tr>
</table>

</body>
</html>